html, body {
    height: 100%;
    margin: auto;
}

#sketch {
    display: table;
    margin: 15vh auto auto;
    /*margin: auto;*/
}

body {
    display: table;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: url(../img/desk.jpg) no-repeat;
    background-size: 100% 100%;
}

#scoreLeft {
    float: left;
}

#scoreRight {
    float: right;
}

#score {
    width: 80%;
    margin: auto;
    font-size: xx-large;
}

.game {
    display: none;
}

.login {
    width: 100%;
}

#username_input {
    display: block;
    width: 60%;
    height: 12vh;
    margin: 40vh auto auto;
    background: transparent;
    border: transparent;
    border-bottom: white solid 1vh;
    border-radius: 10%;
    outline-width: 0;
    text-align: center;
    color: white;
    font-size: 10vh;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

.home {

}

.welcome {
    display: table;
    margin: auto;
    vertical-align: middle;
}

.heading {
    margin-top: 7vh;
    margin-bottom: 7vh;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    font-family: runWild;
}

.button {
    height: 15vh;
    width: 20vw;
    font-size: xx-large;
    margin-bottom: 3vh;
    background-color: #454545;
    color: aliceblue;
    font-family: runWild;
    /*border: 0;*/
}

button::-moz-focus-inner {
    border: none;
}

button:focus {
    outline: none;
}


@font-face {
    font-family: runWild;
    src: url(../font/RunWild.ttf);
}

.loader {
    height: 3vh;
    width: 100%;
    margin-top: 5vh;
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

.loader:before {
    display: block;
    position: absolute;
    content: "";
    left: -10vw;
    width: 7vw;
    height: 3vh;

    background-color: #454545;
    animation: loading 2.5s linear infinite;
}

@keyframes loading {
    from {
        left: -8vw;
    }
    to {
        left: 100%;
    }
}

.home {

}

.info {

}

.pencilText {
    position: absolute;
    font-size: 7vh;
    color: aliceblue;

    transform: translate(-50%, -50%);
}

.pencilImage {
    height: 10vh;
    transform: rotate(0deg);

}

#bluePencil {

}

#orangePencil {
    /*text-align: center;*/
}


































