<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
    <style> body {
        padding: 0;
        margin: 0;
    } </style>
    <script src="../static/vendor/p5.min.js"></script>
    <script src="../static/vendor/addons/p5.dom.min.js"></script>
    <script src="../static/vendor/addons/p5.sound.min.js"></script>
    <script src="../static/js/defaults.js"></script>
    <script src="../static/js/game.js"></script>
    <script src="../static/js/paper.js"></script>
    <script src="../static/js/line.js"></script>
    <script src="../static/js/field.js"></script>
    <script src="../static/js/sketch.js"></script>
</head>
<body>
</body>
</html>