<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    #start {
        height: 100px;
        width: 100px;
    }
</style>

<body>

<button id="start" onclick="send()">START</button>
<!--kad se klikne na START treba da se posalje post request na /start, body zahteva treba da sadrzi informacije o igri-->

<script>
    let markers = [1, 2, 3];

    function send() {
        $.ajax({
            type: "POST",
            url: "/status",
            // The key needs to match your method's input parameter (case-sensitive).
            data: JSON.stringify({Markers: markers}),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                alert(data);
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    }
</script>

</body>
</html>