<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/vendor/jquery-3.3.1.min.js"></script>
    <script src="../static/vendor/p5.min.js"></script>
    <script src="../static/vendor/addons/p5.dom.min.js"></script>
    <script src="../static/vendor/addons/p5.sound.min.js"></script>
    <script src="{{ url_for('static', filename='vendor/socket.io-2.0.4.js') }}"></script>
    
    <title>Title</title>
</head>

<body>
    <button onclick="send()">START</button>
    <script src="{{ url_for('static', filename='js/connect.js') }}"></script>
</body>
</html>
